<div class="col-md-8 offset-md-2 pt-4 pb-4">
  <div class="card">
    <div class="card-header">
      <h1>New Test</h1>
    </div>
    <div class="card-body">
      <%= render 'form', test: @test %>
      <%= link_to 'Back', tests_path, class: "btn btn-block btn-warning mt-2" %>
    </div>
  </div>
</div>
